# Node / tooling
node_modules/
npm-debug.log*
yarn.lock
package-lock.json
.eslintcache
.vscode/
.idea/

# Build outputs
.next/
.out/
dist/
build/
coverage/
turbo/
.turbo/
.vercel/

# Databases / ORM
drizzle/*.sqlite*
drizzle/*.db
drizzle/meta/
drizzle/migrations/*.sql-journal
drizzle/cache/

# Env & secrets
.env
.env.*
!.env.example

# Logs
*.log
logs/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
schema
help_files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sql
*.txt
*.ts.tmp
*.tmp.*
*.bkup
*.bak
